button {
  @apply tracking-wide text-base text-blue border-solid border-b-4 border-transparent outline-none;

  @screen sm {
    @apply text-xl;
  }

  &:hover {
    @apply border-blue;
  }

  transition: all 0.3s ease;
}

.fh-book-button {
  transition: filter 0.3s ease;

  &:hover {
    filter: brightness(110%);
  }
}
