/* Dash for headers */
.fh-dash-x {
  @apply w-12 bg-blue inline-block;

  height: 0.375rem;

  @screen sm {
    @apply w-16 h-2;
  }
}

.fh-dash-x-small {
  @apply w-6 bg-blue inline-block;

  height: 0.2rem;

  @screen sm {
    @apply w-8 h-1;
  }
}

.fh-dash-y {
  @apply h-12 bg-blue inline-block;

  width: 0.375rem;

  @screen sm {
    @apply w-2 h-16;
  }
}

.acf-map {
  width: 100%;
  height: 25rem;
  max-height: 60vh;
}

/* fixes potential theme css conflict */
.acf-map img {
  max-width: inherit !important;
}

.aspect-ratio-box {
  height: 0;
  overflow: hidden;
  position: relative;
}

.aspect-ratio-box-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@responsive {
  .aspect-ratio-16x9 {
    padding-bottom: 56.25%;
  }

  .aspect-ratio-9x16 {
    padding-bottom: 177%;
  }

  .aspect-ratio-3x4 {
    padding-bottom: 133%;
  }
}
