/* stylelint-disable no-descending-specificity */

.banner {
  .nav {
    @apply flex flex-wrap;

    li {
      @apply px-4 py-2;

      a {
        @apply inline-block border-none no-underline tracking-wide text-xl text-blue border-solid border-b-4 border-transparent;

        &:hover {
          @apply border-blue;
        }

        transition: all 0.3s ease;
      }
    }
  }

  .mobile-nav {
    @apply flex flex-col;

    li {
      @apply px-4 py-2;

      a {
        @apply inline-block border-none no-underline tracking-wide text-xl text-blue border-solid border-b-4 border-transparent;

        @screen sm {
          @apply text-3xl;
        }

        &:hover {
          @apply border-blue;
        }

        transition: all 0.3s ease;
      }
    }
  }

  #mobile-menu {
    transform: translateX(100%);

    &.active {
      transform: translateX(0%);
    }

    transition: all 0.3s ease;
  }
}
