.frontpage {
  .fh-jumbo {
    /*
    height: 45rem;
    max-height: 85vh;
    */

    .fh-img {
      padding-bottom: 56%;
    }
  }

  .fh-treatment {
    .fh-img {
      padding-bottom: 100%;
    }

    .text-box {
      margin-top: -20%;
    }
  }
}
